<% if current_user %>
    <h3>Welcome <%= current_user.username %></h3>
<% else %>
    <div class="jumbotron">
        <div class="page-header">
        <h1 class="lead welcome">Welcome to my home on the internet</h1>
        </div>
        <h3>Since there are more and more people searching the web for things to use against you, most of my site is private.If you are interested in accessing some of the restricted sections of this site then please sign up.  Keep in mind that everything is mine so please ask before you use anything.</h3> 
        <h4>Steve Adamson</h4>
    </div>
<% end %>